.feedback-form {
  width: 100%;
  max-width: 408px;
  margin: 0 auto;
  padding: 25px;
  background-color: #fff;
}
.feedback-form  input,
.feedback-form textarea {
  width: 100%;
  height: 35px;
  margin: 5px 0 0 0;
}
.feedback-form textarea {
  height: 100px;
}
.feedback-form button {
  border: none;
  background-color: #4E75FF;
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
}